<header>
    <img
    src="assets/img/perfil.png"
    alt="Caroline Vargas - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
    />
    <h1>Caroline Vargas</h1>
</header>

<aside>
    <div class="container">
        <p>Estudante de Engenharia de Software | HTML | CSS | Javascript | C# | Angular | Python | PHP | PostgreSQL</p>
        <p>Niterói, Rio de Janeiro, Brasil </p>
        <p>Olá me chamo Caroline, estudante de Engenharia de Software pela UNINTER. Atualmente estagiando em desenvolvimento e prestando serviço de suporte para o usuário.
            Minhas hard skill são HTML, CSS, Javascript, C# .NET, Angular, Python, PostgreSQL, MySQL, Figma, Canva, Adobe Express, além de ter tido contato com PhP em um projeto no qual tive o prazer de participar.
            Tenho cursos de Algoritmos e Lógica de Programação , Ciência de dados, C# .Net, CCNA, entre outros.
            Neste momento os cursos em andamentos é C#.Net developer, desenvolvimento web completo e inglês. 
            Disponibilizo projetos no meu GitHub sempre atualizando as novidades.
            Fique a vontade para entrar em contato comigo e saber mais sobre mim 😊.</p>

        <nav>
            <li>
                <a href="https://drive.google.com/file/d/1Wmx5oDU5-afvacsjgl5FGdMlijSj37tS/view?usp=drive_link" target="_blank" class="btn btn-primary"> Download CV</a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/carolinevsc/" target="_blank" class="btn btn-secondary"> LinkedIn</a>
            </li>

            <li>
                <a href="https://github.com/CarolFenixBr" target="_blank" class="btn btn- tertiary"> GitHub</a>
            </li>
        </nav>
        <section>

            <figure>
                <img
                src="https://cdn-icons-png.flaticon.com/512/5968/5968841.png"
                alt="Ícone para contato do WhatsApp"
                width="24px"
                height="24px"
                />
                <figcaption>
                    <a href="https://wa.me/5521998912927?text=Ol%C3%A1+Caroline%2C+preciso+conversa+contigo+sobre+trabalho." target="_blank" >
                        <b>Envie uma mensagem para:</b>
                        <p>WhatsApp: (21) 9 98912927</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img
                src="https://cdn-icons-png.flaticon.com/512/2504/2504727.png"
                alt="Ícone para contato do e-mail"
                width="24px"
                height="24px"
                />
                <figcaption>
                    <a href="mailto:carolinevsc09@gmail.com" target="_blank" >
                        <b>Envie um e-mail para:</b>
                        <p>carolinevsc09&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
            
        </section>
    </div>
</aside>
    

