<div class="container">
    <h2>Hard Skills</h2>
    <ul>
        @for(item of arrayKnowledge(); track item){
            <li>
                <img [src]="item.src"  alt="item.alt" loading="lazy" width="22px" height="24px" />
            </li>
        }
    </ul>

    <h2>Soft Skills</h2>
    <ul>
        <li>Metodologia ágil (Scrum)</li>
        <li>Proatividade</li>
        <li>Pensamento crítico</li>
        <li>Comunicação</li>
        <li>Apresentação</li>
        <li>Trabalho em equipe</li>
        <li>Gerenciamento de tempo</li>
        

    </ul>

</div>
