<header>
    <img
    src="assets/img/perfil.jpg"
    alt="Caroline Vargas - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
    />
    <h1>Caroline Vargas</h1>
</header>

<aside>
    <div class="container">
        <p>Estudante de Engenharia de Software | HTML | CSS | Javascript | C# | Angular | Python | PHP | PostgreSQL</p>
        <p>Niterói, Rio de Janeiro, Brasil </p>
        <p>Estou na área de desenvolimento desde 2022, meu primeiro contato com programação foi através da linguagem C na UFSC quando cursava Engenharia de Controle e Automação. Realizando estágio há 6 meses. Tenho projetos a parte fora do estágio. Atualmente estou me especializando em C#, HTML, CSS, Javascript, Angular entre outras na área de desenvolvimento.</p>

        <nav>
            <li>
                <a href="https://drive.google.com/file/d/1QBz9IaVRGNn6bOPtGiMaGOSadmtJpk0_/view?usp=sharing" target="_blank" class="btn btn-primary"> Download CV</a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/carolinevsc/" target="_blank" class="btn btn-secondary"> LinkedIn</a>
            </li>
        </nav>
        <section>

            <figure>
                <img
                src="https://cdn-icons-png.flaticon.com/512/5968/5968841.png"
                alt="Ícone para contato do WhatsApp"
                width="24px"
                height="24px"
                />
                <figcaption>
                    <a href="https://wa.me/5521998912927?text=Ol%C3%A1+Caroline%2C+preciso+conversa+contigo+sobre+trabalho." target="_blank" >
                        <b>Envie uma mensagem para:</b>
                        <p>WhatsApp: (21) 9 98912927</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img
                src="https://cdn-icons-png.flaticon.com/512/2504/2504727.png"
                alt="Ícone para contato do e-mail"
                width="24px"
                height="24px"
                />
                <figcaption>
                    <a href="mailto:carolinevsc09@gmail.com" target="_blank" >
                        <b>Envie um e-mail para:</b>
                        <p>carolinevsc09&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
            
        </section>
    </div>
</aside>
    

